{% extends "load.html" %}
{% block content %}
{% set splash_url = url_for('static', filename='splash.jpg') %}

<section class="hero is-fullheight-with-navbar"
    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ splash_url }}') no-repeat center center; background-size: cover;">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title has-text-white is-size-1 has-text-weight-bold"
                style="text-shadow: 2px 2px 8px rgba(0,0,0,0.8);">
                Print awesome.
            </h1>
            <div class="buttons is-centered">
                <button id="getStartedBtn" class="button is-primary is-large getstarted">Get Started</button>
                <a href="{{ url_for('download_setup') }}" class="button is-info is-large">Connect to Cyan</a>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('getStartedBtn').addEventListener('click', function () {
            window.location.href = "{{ url_for('printer_setup') }}";
        });
    </script>
</section>
{% endblock %}