{% extends "load.html" %}
{% block content %}
<section class="hero is-fullheight-with-navbar"
    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{url_for('static', filename='splash.jpg')}}') no-repeat center center; background-size: cover;">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title has-text-white is-size-1 has-text-weight-bold"
                style="text-shadow: 2px 2px 8px rgba(0,0,0,0.8);">
                Print awesome.
            </h1>
            <button class="button is-primary">Get Started</button>
        </div>
    </div>
</section>
{% endblock %}